*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62,5%;
    
}
body {
    height: 100vh;
    background-image: url(../fondobq.jpeg);
    background-size: cover;
    font-family: 'Old Standard TT', serif;
    color: whitesmoke;
    
}
@media (screen) {
    
}
main {
    display: grid;
    grid-template-columns: 30% 70%;
}

.left {
    background-color: #9a9fa1;
    opacity: 0.9;
    height: 100%;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.profile {
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;;
    border-radius: 100px;
}
.left p{
    
    text-align: center;
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.nav1{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}
.nav1:last-child {
    margin-bottom: 2rem;
}
nav a {
    color: #4d524a;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
div.right {
    font-size: 3rem;
    margin: 0 10%;
    margin-top: 2rem;

}
.caja {
    display: flex;
    color: #abaea7;
    font-size: 4rem;
    text-align: center;
    background-color:#4d524a;
    opacity: 0.9;
    width: 80%;
    border-radius: 5px;
    
}